@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <p>Wynik obliczen dla @ViewBag.x @ViewBag.op @ViewBag.y = @ViewBag.Result</p>
</div>
</body>
</html>