@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>About: <a href="../Home/about">click here</a>.</p>
    <p>Calculator: <a href="../Calculator">click here</a>.</p>
</div>