<div class="container">
    <div class="row justify-content-md-center">
        <h2>Provide your data</h2>
        <form action="Result" method="GET">
            <div class="mb-3">
                <label class="form-label" for="Name">Your name:</label>
                <input class="form-control" name="Name" id="Name" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="BirthDate">Your birthday:</label>
                <input class="form-control" type="date" name="BirthDate" id="BirthDate" />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Calculate age</button>
            </div>
        </form>        
    </div>
</div>